* {
  box-sizing: border-box;
  font-family: Averta, sans-serif;
  /*overflow: hidden;*/
}
body {
  margin: 0%;
  padding: 0%;
  font-family: Averta;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section {
  /* width: 100%; */

  height: 100vh;
  background-color: #fffafa;
  text-align: center;
  display: flexbox;
  justify-content: center;
  align-items: center;
  gap: 50%;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.btn-one {
  width: 200px;
  height: 50px;
  background-color: #e7332b;
  border: none;
  font-size: 16px;
}
.btn-one a {
  text-decoration: none;
  color: white;
}
.btn-one:hover {
  width: 200px;
  height: 50px;
  background-color: white;
  border: 1px #e7332b solid;

  color: #e7332b;
}
.btn-one:hover a {
  color: #e7332b;
}
.btn-two {
  width: 200px;
  height: 50px;
  background-color: #fffafa;
  border: none;
  border: 1px #e7332b solid;
  font-size: 16px;
}
.btn-two a {
  text-decoration: none;
  color: #e7332b;
}
.btn-two:hover {
  width: 200px;
  height: 50px;
  background-color: #e7332b;

  color: #e7332b;
}
.btn-two:hover a {
  color: white;
}
.first_img {
  background-image: url(/images/left_bvmv7q.png);
  background-position: left;
  width: 20%;
  height: 50%;
  background-color: #9b2424;
}
.program_section {
  text-align: center;
  height: 120vh;
}

.programs {
  display: flex;
  justify-content: center;
}
.trainig {
  width: 40%;
  height: 100%;
  background-color: #440808;
}
.internship {
  width: 40%;
  height: 100%;
  background-color: #fffafa;
}
.talent {
  width: 40%;
  height: 150%;
  background-color: #fffafa;
}
.footer_1 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  position: relative;
  margin: 50px;
  left: 50px;
}

.logo img {
  position: relative;
  top: 10%;
  left: -120%;
}
.contact_1 {
  display: grid;
  position: relative;
  left: -20%;
}
.contact_1 a {
  text-decoration: none;
  color: #e7332b;
}
contact_2 {
}
.icons {
  width: 50%;
  height: 50%;
  position: absolute;
  right: -40px;
}
.icons img {
  width: 5%;
}
hr {
  background-color: #9a9a9a;
}
.end p {
  text-align: center;
  font-size: 16;
  font-weight: bold;
  margin-top: 50px;
  color: #51495f;
}
