body {
  padding-left: 10px;
  padding-right: 30px;
}
head {
  display: flex;

  padding: 20px;
}
nav {
  display: flex;
  width: 90%;
  justify-content: center;
  justify-content: space-around;
  position: fixed;
  top: 0%;
  background: white;
  height: 40px;
  padding: 20px;
  z-index: 5;
}
.links {
  display: flex;
  padding: 20px;
  position: relative;
  left: 100px;
}
.links a {
  text-decoration: none;
  position: relative;
  gap: 60px;
  left: 60px;
  padding: 30px;
  top: -30px;
  color: rgb(88, 97, 156);
}
.thumb {
  width: 160px;
  height: 50px;
  border-radius: 20px;
  background: red;
  position: relative;
  left: 120px;
}
.thumb img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: relative;
  background: rgb(233, 99, 99);
  left: -30px;
  top: -24px;
  border: 10px red solid;
}
.thumb a {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: white;
  position: relative;
  top: 20px;
  left: 50px;
}
.section_1 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  top: 120px;
  overflow: hidden;
}
.content_1 p {
  color: red;
}
.content_1 h1 {
  font-size: 35px;
  font-weight: 600;
}
.image_1 img {
  width: 70%;
}
.btn img {
  position: relative;
  left: -140px;
}
.btn_2 {
  width: 160px;
  height: 50px;
  border-radius: 20px;
  background: rgb(231, 51, 43);
  border: none;
  color: white;
}
.section_22 {
  width: 100%;
  height: 10%;
  position: relative;
  top: 100px;
  overflow: hidden;
}

.section_2 {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.section_2 img {
  width: 20%;
}
.section_2 h1 {
  font-size: 20px;
  padding: 30px;
  /* margin: 20px; */
}
.section_2 p {
  font-size: 25px;
}
hr {
  width: 95%;
}
.section_3 {
  width: 100%;
  height: 20%;
  position: relative;
  right: 50px;
  padding: 30px;
  top: 200px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.section_3 h1 {
}
.section_3 h1 p {
  color: rgb(231, 51, 43);
}
.section_4 {
  width: 100%;
  height: 100vh;
  padding: 60px;
  position: relative;
  top: 200px;
  display: flex;
  gap: 30px;
  padding-left: 40px;
  overflow: hidden;
}
.box-1 {
  width: 30%;
  height: 70%;
  background: rgb(231, 51, 43);
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 8px rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 226, 208);
}
.box-1 h1,
h2,
h3 {
  padding-left: 20px;
}
.box-1 h1 {
  font-size: 60px;
}
.box-1 h2 {
  font-size: 30px;
}
.curve_1 {
  object-fit: contain;
  position: relative;
  left: 235px;
  width: 40%;
  overflow: hidden;
}
.box-2 {
  width: 30%;
  height: 70%;
  background: white;
  border-radius: 10px;

  border: 5px white solid;
  box-shadow: 0 4px 8px rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 226, 208);
}
.curve_2 {
  object-fit: contain;
  position: relative;
  left: 235px;
  width: 40%;
  overflow: hidden;
}
.box-3 {
  width: 30%;
  height: 70%;
  background: white;
  border-radius: 10px;
  color: black;

  box-shadow: 0 4px 8px 0 rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 230, 214);
}
.curve_3 {
  object-fit: contain;
  position: relative;
  left: 235px;
  width: 40%;
}

.section_5 {
  width: 100%;
  height: 100vh;
  padding-left: 60px;
  position: relative;

  display: flex;
  gap: 30px;
  overflow: hidden;
}
.box-4 {
  width: 30%;
  height: 70%;
  background: white;
  border-radius: 10px;
  color: black;

  box-shadow: 0 4px 8px 0 rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 230, 214);
}
.curve_4 {
  object-fit: contain;
  position: relative;
  left: 235px;
  width: 40%;
}
.box-5 {
  width: 30%;
  height: 70%;
  background: white;
  border-radius: 10px;
  color: black;

  box-shadow: 0 4px 8px 0 rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 230, 214);
}
.curve_5 {
  object-fit: contain;
  position: relative;
  left: 235px;
  width: 40%;
}
.box-6 {
  width: 30%;
  height: 70%;
  background: white;
  border-radius: 10px;
  color: black;

  box-shadow: 0 4px 8px 0 rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 230, 214);
}
.curve_6 {
  object-fit: contain;
  position: relative;
  left: 235px;
  width: 40%;
}
.section_6 {
  width: 100vw;
  height: 150vh;
  background: rgb(231, 51, 43);
  display: flex;
  overflow: hidden;
}
.section_6 p {
  color: rgb(253, 239, 238);
}
.wire_5 {
  width: 100px;
  height: 100px;
  object-fit: contain;
  position: relative;
  left: 200px;
}
.section_66 {
  margin: 50px;
  position: relative;
  top: 50px;
  overflow: hidden;
}
.section5-image {
  width: 100%;
  position: relative;
  right: 100px;
  top: 160px;
}
.team {
  display: flex;
  position: relative;
  top: 100px;
  gap: 20px;
}
.team_1 {
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: 2px white solid;
  justify-content: space-around;
}
.team_1 h1 {
  font-size: 14px;
  color: rgb(253, 239, 238);
}
.team_11 {
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: 2px white solid;
}
.team_11 h1 {
  font-size: 14px;
  color: rgb(253, 239, 238);
}
.team_2 {
  display: flex;
  position: relative;
  top: 150px;
  gap: 20px;
}

.team_22 {
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: 2px white solid;
  justify-content: space-around;
}
.team_22 h1 {
  font-size: 14px;
  color: rgb(253, 239, 238);
}
.team_23 {
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: 2px white solid;
}
.team_23 h1 {
  font-size: 14px;
  color: rgb(253, 239, 238);
}
.dotsection5 {
  width: 100px;
  height: 100px;
  position: relative;
  top: 50px;
  right: 340px;
  top: 90px;
}
.section_7 {
  width: 100%;
  height: 100vh;
  padding: 40px;
}
.scope p {
  font-size: 30px;
  color: rgb(231, 51, 43);
}
.scope h1 {
  font-size: 40px;
}
.scope_1 {
  display: flex;
  padding: 30px;
  gap: 30px;
}

.scope_11 {
  width: 23%;
  height: 45%;
  border-radius: 15px;
  padding: 30px;

  box-shadow: 0 4px 8px 0 rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 230, 214);
}
.scope_11 h1 {
  font-size: 15px;
}
.scope_12 {
  width: 23%;
  height: 45%;
  border-radius: 15px;
  padding: 30px;

  box-shadow: 0 4px 8px 0 rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 230, 214);
}
.scope_12 h1 {
  font-size: 15px;
}
.scope_13 {
  width: 23%;
  height: 45%;
  border-radius: 15px;
  padding: 30px;

  box-shadow: 0 4px 8px 0 rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 230, 214);
}
.scope_13 h1 {
  font-size: 15px;
}
.scope_2 {
  display: flex;
  padding: 30px;
  gap: 30px;
}
.scope_22 {
  width: 23%;
  height: 45%;
  border-radius: 15px;
  padding: 30px;

  box-shadow: 0 4px 8px 0 rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 230, 214);
}
.scope_22 img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.scope_22 h1 {
  font-size: 15px;
}
.scope_23 {
  width: 23%;
  height: 45%;
  border-radius: 15px;
  padding: 30px;

  box-shadow: 0 4px 8px 0 rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 230, 214);
}
.scope_23 h1 {
  font-size: 15px;
}
.scope_24 {
  width: 23%;
  height: 45%;
  border-radius: 15px;
  padding: 30px;

  box-shadow: 0 4px 8px 0 rgb(245, 230, 214), 0 6px 20px 0 rgb(245, 230, 214);
}
.scope_24 h1 {
  font-size: 15px;
}
.scope_24 img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.btn_6 {
  width: 160px;
  height: 50px;
  border-radius: 20px;
  background: rgb(231, 51, 43);
  border: none;
  color: white;
  position: relative;
  left: 500px;
  top: 50px;
}
.btn_6 a {
  color: white;
  text-decoration: none;
}
hr {
  position: relative;
  top: 100px;
}
